{% extends "global/base.html" %}

{% load static %}

{% block content %}

<div class="row text-center mt-3">
    <div class="col">

<h2 class="text-center mt-3">BUSCAR CÃES</h2>

<div class="row mt-3 text-end me-4">
    <div>
        <button type="button" class="btn" data-bs-toggle="offcanvas" data-bs-target="#searchBackdrop" aria-controls="searchBackdrop" data-bs-backdrop="static" aria-controls="searchBackdrop">
            <i class="fas fa-magnifying-glass fa-2x mb-2" style="color: #533E1A;"></i>
        </button>
    </div>
</div>


{% if petlist %}
    <div class="row mt-3 align-items-center">
            {% include 'pets/partials/petcard_holder.html' %}
    </div>

    <div class="row mt-3 text-center">
        <span class="form-login-title" id="num_results_id" style="display:inline;">{{ num_results }}{% if num_results > 1 %} registros encontrados{% else %} registro encontrado{% endif %}</span>
    </div>
{% else %}
    <div class="row mt-3">
        <span id="num_results_id" class="form-title">Nenhum registro foi encontrado</span>
    </div>
{% endif %}

{% include 'pets/partials/search_offcanvas.html' %}

{% endblock %}

{% block scripts %}
    <script src= "{% static 'pets/js/search.js' %}"></script>
{% endblock %}