<div class="card shadow-sm border-0 my-4">
  <div class="card-header border-0 py-3 text-white" style="background:#B6733A;">
    <h2 class="h4 m-0 text-uppercase fw-bold">Quero apoiar o projeto</h2>
  </div>

  <div class="card-body" style="background:#FFF3D6; color:#834E27;">
    <p>
      Não pode adotar, mas gostaria de ajudar um cãozinho resgatado?<br>
      Seja um padrinho/madrinha do projeto Cãotinho e nos ajude a oferecer todo o amor e carinho
      para nossas crianças 🐶! Clique no link a seguir e faça parte dessa ação que salva e transforma
      de forma altruísta e independente! 🙏❤️
    </p>

    <div class="text-center my-3">
      <a href="https://www.apoia.se/caotinhoerikaramos"
        target="_blank"
         class="btn btn-lg fw-bold text-white px-4 py-2 fs-3"
         style="background:#B6733A; border-radius:8px; box-shadow:0 4px 6px rgba(0,0,0,0.2);">
        QUERO SER PADRINHO/MADRINHA
      </a>
    </div></br>

    <p>
      Não tem condições de se tornar padrinho/madrinha?<br>
      Você pode fazer uma contribuição individual via Pix. Os cães acolhidos em nosso espaço consomem
      mais de 2 toneladas de ração todos os meses e qualquer ajuda é mais do que bem-vinda! 🙏😊
    </p>

    <div class="text-center my-3">
      <button type="button"
              class="btn btn-lg fw-bold text-white px-4 py-2 fs-3"
              style="background:#B6733A; border-radius:8px; box-shadow:0 4px 6px rgba(0,0,0,0.2);"
              onclick="navigator.clipboard.writeText('52523446804'); alert('Código PIX copiado para a área de transferência!');">
        COPIAR CÓDIGO PIX (Celso Ramos, Caixa Econômica Federal)
      </button>
    </div>
  </div>
</div>
